<IfModule mod_rewrite.c>
  RewriteEngine On

  # Ensure the rules are only applied to non-existing files and directories
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Rule for employee section with specific edit action
  RewriteRule ^employee/([^/]+)/delete/([^/]+)$ employee_$1_delete.php?id=$2 [L,QSA]

  # Rule for employee section with specific edit action
  RewriteRule ^employee/([^/]+)/([^/]+)/edit$ employee_$1_edit.php?id=$2 [L,QSA]

  # Rewrite rule to convert employee/{section}/new to employee_{section}_new.php
  RewriteRule ^employee/([^/]+)/new$ employee_$1_new.php [L]

  # General rule for other employee requests: employee/{section}/{action} to employee_{section}.php
  RewriteRule ^employee/(.*)$ employee_$1.php [L]

  # Rewrite any URL without a file extension to .php
  RewriteRule ^([^\.]+)$ $1.php [NC,L]
</IfModule>